* {
  font-family: "literata";
  box-sizing: border-box;
  line-height: 1;
}

body {
  margin: 0;
}

h1 {
  font-size: 6rem;
  font-weight: 800;
  margin: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

.stripes-container {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 2rem;
}

.stripe {
  width: 100%;
  height: 100%;
}

.stripe:nth-child(1) {
  background-color: #00D9FF;
}

.stripe:nth-child(2) {
  background-color: #00C3E5;
}

.stripe:nth-child(3) {
  background-color: #009AB5;
}

.stripe:nth-child(4) {
  background-color: #007589;
}

.toolbar {
  display: flex;
  margin-top: 1rem;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin: auto;
}

.location-pin {
  height: 1rem;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.temp-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.curr-temp {
  color: #007589;
}

.temp-unit-container {
  display: flex;
  margin: 0 0 2.5rem 0.5rem;
}

.temp-unit-btn {
  font-size: 1rem;
  font-weight: 400;
  color: #DADADA;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

#active-temp-unit-btn {
  font-weight: 700;
  color: #007589;
}
