* {
  font-family: "literata";
  box-sizing: border-box;
  line-height: 1;
}

body {
  margin: 0;
}

h1 {
  font-size: 6rem;
  font-weight: 800;
  margin: 0;
}

p {
  color: #111111;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

.stripes-container {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 2rem;
}

.stripe {
  width: 100%;
  height: 100%;
}

.stripe:nth-child(1) {
  background-color: #00D9FF;
}

.stripe:nth-child(2) {
  background-color: #00C3E5;
}

.stripe:nth-child(3) {
  background-color: #009AB5;
}

.stripe:nth-child(4) {
  background-color: #007589;
}

.content {
  margin: 1rem;
}

.toolbar {
  display: flex;
  margin-top: 1rem;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin: auto;
}

.location-pin {
  height: 1rem;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.temp-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.curr-temp {
  color: #007589;
}

.temp-unit-container {
  display: flex;
  margin: 0 0 2.5rem 0.5rem;
}

.temp-unit-btn {
  font-size: 1rem;
  font-weight: 400;
  color: #DADADA;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

#active-temp-unit-btn {
  font-weight: 700;
  color: #007589;
}

.card {
  background-color: #F4F4F4;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
}

.curr-weather-summary-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 2rem;
}

.curr-conditions,
.date,
.time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #111111;
  font-size: 1rem;
  font-weight: 400;
}

.date {
  border-left: 1px solid #C7C7C7;
  border-right: 1px solid #C7C7C7;
}

.description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem;
}

.upcoming-conditions {
  padding: 0.5rem;
}

.upcoming-conditions-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  gap: 1rem;
}

.active-upcoming {
  text-decoration: underline;
  text-decoration-color: #D9D9D9;
}

.upcoming-temp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-temps {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

.upcoming-conditions-icon {
  width: 3rem;
}

.daily-conditions {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.daily-conditions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F4;
  border-radius: 10px;
}

.daily-conditions-icon {
  width: 3rem;
}

.active-daily-condition-card {
  border: 1px solid #C7C7C7;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-logo {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  height: 1.25rem;
}